<a href="https://colab.research.google.com/github/fainafr/ABAP/blob/master/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Faina')

Faina

In [ ]:
print('Faina', input('enter your age '))

enter your age 56
Faina 56

In [ ]:
name = 'Faina'

In [ ]:
name = 'Faina'
print(name)
print(input('Enter your name'))
print(input('enter first name'),sep=" ")
print(input('enter last name'),sep=" ")

Faina
Enter your nameff
ff
enter first namefr
fr
enter last namefffrr
fffrr

In [ ]:
a, b = input("Enter first and last name ").split()
print("First name is {} and last name is {}".format(a, b))
print("full name is", a + " " + b)

Enter first and last name faina fridman
First name is faina and last name is fridman
full name is faina fridman

In [ ]:
print("I Love Python")
print('SQL isn\'t better than python')
print('the' + ' sky' + ' is' + ' blue')
line1 = "Roses are red"
line2 = "Violets are blue"
line3 = "I like Python"
line4 = "How about you?"
print(line1 + "\n" + line2 + "\n" + line3)
print('apple' * 5)
apples = 'apple' * 5
print(len(apples))
str = 'my name is {fname}, my age is {my_age}'
print(str.format(fname="frosya",my_age=56))
str2 = 'my name is {0}, i am {1}'
print(str2.format("frosya",56))
str3 = 'my name is {}, i am {}'
print(str3.format("frosya",56))

I Love Python
SQL isn't better than python
the sky is blue
Roses are red
Violets are blue
I like Python
appleappleappleappleapple
25
my name is frosya, my age is 56
my name is frosya, i am 56
my name is frosya, i am 56